---
layout: splash-with-tagged-posts
permalink: /hobbies/
banner: 999999_home_image_banner_library.jpg
banner_caption: "Hobbies"

tags:
  - Books
  - Assam
  - Darjeeling
  - Earl Grey
  - Sejak
  - Sikkim

academicBooks:
  - image_path: /assets/images/999999_banner_The_School_of_Athens_01_800.jpg
    title: "교양 공부 Liberal Arts"
    excerpt: "역사, 철학 등 이것저것 공부"
    url: "/hobbies/liberal-arts"

literature:
  - image_path: /assets/images/999999_banner_literature_01_800.jpg
    title: "문학 Literature"
    excerpt: "추리 소설, SF 소설 등등"
    url: "/hobbies/literature"

tea:
  - image_path: /assets/images/999999_home_image_banner_blacktea_800.jpg
    title: "차 Tea"
    excerpt: "녹차, 홍차 기록 및 이론 공부 등등"
    url: "/hobbies/tea"

lang:
  - image_path: /assets/images/eng.jpg
    alt: "english"
    title: "영어 English"
    url: "/english/"

  - image_path: /assets/images/latin.jpg
    alt: "latin"
    title: "라틴어 Latin"
    url: "/latin/"

---
{% include feature_row id="academicBooks" type="left" %}

{% include feature_row id="literature" type = "right" %}

{% include feature_row id="tea" type = "left" %}
