---
layout: splash
permalink: /hobbies/
banner: 999999_home_image_banner_infinity_02.jpg
banner_caption: "Hobbies"
infinity:
  - title: "Infinity the Game"
infinity_list:
  - image_path: /assets/images/210801_painting_taowu_00.jpg
    alt: "taowu"
    title: "Taowu Mastermind"
    url: "/hobbies/Painting-Taowu"
vas:
  - title: "Victory at Sea"

books:
  - title: "Books"
books_list:
  - image_path: /assets/images/220120_EdgarAllanPoe_00.jpg
    alt: "ruemorgue"
    title: "모르그 가의 살인 The Murders in the Rue Morgue<br>에드거 앨런 포 Edgar Allan Poe"
    url: "/hobbies/edgar-allan-poe-the-murders-in-the-rue-morgue"
  - image_path: /assets/images/220120_EdgarAllanPoe_00.jpg
    alt: "goldbug"
    title: "황금 벌레 The Gold-bug<br>에드거 앨런 포 Edgar Allan Poe"
    url: "/hobbies/edgar-allan-poe-the-gold-bug"
---
{% include feature_row id="infinity" type="center" %}

{% include feature_row id="infinity_list" %}

{% include feature_row id="vas" type="center" %}

{% include feature_row id="books" type="center" %}

{% include feature_row id="books_list" %}
