---
layout: splash-with-tagged-posts
permalink: /hobbies/
banner: 999999_home_image_banner_library.jpg
banner_caption: "Hobbies"

tags:
  - Books
  - Assam
  - Darjeeling
  - Earl Grey
  - Sejak
  - Sikkim

academicBooks:
  - title: "Studies"

academicBooks_list:
  - image_path: /assets/images/999999_ethics_00_800.jpg
    alt: "ethics"
    title: "윤리 Ethics"
    url: "/hobbies/ethics"

literatures:
  - title: "Literature"

literatures_list:
  - image_path: /assets/images/220120_EdgarAllanPoe_00.jpg
    alt: "edgar allan poe"
    title: "에드거 앨런 포 전집<br>Edgar Allan Poe"
    url: "/hobbies/edgar-allan-poe"

tea_notes:
  - title: "Tea Notes"

tea_list:
  - image_path: /assets/images/999999_category_research_paper_memo_00.jpg
    alt: "tea study"
    title: "공부 Tea study"
    url: "/hobbies/tea-study"

  - image_path: /assets/images/tea_notes/220625_MangalamEstate_Assam_0001.jpg
    alt: "assam"
    title: "아쌈 Assam"
    url: "/hobbies/assam"

  - image_path: /assets/images/tea_notes/220718_PhuguriTeaEstate_Darjeeling_0001.jpg
    alt: "darjeeling"
    title: "다질링 Darjeeling"
    url: "/hobbies/darjeeling"

  - image_path: /assets/images/tea_notes/221105_twinings_ladygrey_0002.jpg
    alt: "earlgrey"
    title: "얼그레이 Earl grey"
    url: "/hobbies/earl-grey"

  - image_path: /assets/images/999999_banner_teaLeaves_800.jpg
    alt: "various tea"
    title: "그 외 Et cetera"
    url: "/hobbies/tea-etc"

lang:
  - title: "Language"

lang_list:
  - image_path: /assets/images/eng.jpg
    alt: "english"
    title: "영어 English"
    url: "/english/"

  - image_path: /assets/images/latin.jpg
    alt: "latin"
    title: "라틴어 Latin"
    url: "/latin/"

---
{% include feature_row id="academicBooks" type="center" %}

{% include feature_row id="academicBooks_list" %}

{% include feature_row id="literatures" type="center" %}

{% include feature_row id="literatures_list" %}

{% include feature_row id="tea_notes" type="center" %}

{% include feature_row id="tea_list" %}
