---
layout: splash-with-tagged-posts
permalink: /hobbies/liberal-arts/
banner: 999999_banner_The_School_of_Athens_02_1920.jpg
banner_caption: "Liberal Arts"
tags:
  - Liberal Arts

ethics_title:
  - title: "윤리학 Ethics"

utilitarianism:
  - image_path: /assets/images/liberal_arts/utilitarianism/200410_Utilitarianism_00_300.jpg
    title: "교양 공부 Liberal Arts"
    excerpt: "역사, 철학 등 이것저것 공부"
    url: "/hobbies/liberal-arts/utilitarianism-02/"

---

{% include feature_row id="ethics_title" type = "center" %}

{% include feature_row id="utilitarianism" %}
