---
layout: splash-with-tagged-posts
permalink: /hobbies/liberal-arts/
banner: 999999_banner_The_School_of_Athens_02_1920.jpg
banner_caption: "Liberal Arts"
tags:
  - Liberal Arts

ethics_title:
  - title: "윤리학 Ethics"

utilitarianism:
  - image_path: /assets/images/liberal_arts/utilitarianism/200410_Utilitarianism_00_300.jpg
    title: "공리주의Utilitarianism"
    excerpt: "J. S. 밀의 공리주의 저서 독후감"
    url: "/hobbies/liberal-arts/utilitarianism-04/"

---

{% include feature_row id="ethics_title" type = "center" %}

{% include feature_row id="utilitarianism" %}
