---
layout: splash
permalink: /miniatures/
banner: 999999_home_image_banner_infinity_02.jpg
banner_caption: "Miniatures"
infinity:
  - title: "Infinity the Game"
infinity_list:
  - image_path: /assets/images/210801_painting_taowu_00.jpg
    alt: "taowu"
    title: "Taowu Mastermind"
    url: "/miniatures/Painting-Taowu"
vas:
  - title: "Victory at Sea"
---
{% include feature_row id="infinity" type="center" %}

{% include feature_row id="infinity_list" %}

{% include feature_row id="vas" type="center" %}
