---
layout: splash-with-tagged-posts
permalink: /otaku-hobbies/
banner: 999999_home_image_banner_library.jpg
banner_caption: "Hobbies"

tags:
  - Games
  - Miniatures
  - Translations

games:
  - title: "Games"
games_list:
  - image_path: /assets/images/games/bad-end-theatre/230419_badendtheatre_00_orig.jpg
    alt: "badendtheatre"
    title: "Bad End Theatre"
    url: "otaku-hobbies/bad-end-theatre-00/"

miniatures:
  - title: "Miniatures"
miniatures_list:
  - image_path: /assets/images/210801_painting_taowu_00.jpg
    alt: "taowu"
    title: "Taowu Mastermind"
    url: "/otaku-hobbies/Painting-Taowu"

translations:
  - title: "Translations"
translations_list:
  - image_path: /assets/images/translations/cover_500.jpg
    title: "동급생 최애작가에게<br>백합망상을 들킨 결과"
    url: "/otaku-hobbies/oshiyuri/"

---
{% include feature_row id="games" type="center" %}

{% include feature_row id="games_list" %}

{% include feature_row id="miniatures" type="center" %}

{% include feature_row id="miniatures_list" %}

{% include feature_row id="translations" type="center" %}
