---
permalink: /study/
layout: splash
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/999999_home_image_banner_textbook.jpg
title: ' '
intro:
  - title: "Studies"
    excerpt: "학부 과정 중 다룬 내용<br>
    대학원 과정 중 다룬 내용<br>
    그 외 독서 또는 공부 기록"
feature_row:
  - image_path: /assets/images/999999_category_beer_dynamics_01.jpg
    alt: "dynamics"
    title: "동역학"
    excerpt: "기계공학과 학부 동역학"
    url: "/dynamics/Dynamics-01"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}






<!-- excerpt:
학부 과정 중 다룬 내용<br>
대학원 과정 중 다룬 내용<br>
그 외 독서 또는 공부 기록 -->
