---
permalink: /study/
layout: splash
banner: 999999_home_image_banner_textbook.jpg
banner_caption: "Studies"
graduate:
  - image_path: /assets/images/999999_category_image_postech.jpg
    excerpt: "대학원 강의 정리"
undergraduate:
  - image_path: /assets/images/999999_category_image_unist.png
    excerpt: "학부 강의 정리"
undergraduate_list:
  - image_path: /assets/images/999999_category_beer_dynamics_01.jpg
    alt: "dynamics"
    title: "동역학"
    excerpt: "기계공학과 학부 동역학"
    url: "/study/Dynamics-01"
---
{% include feature_row id="graduate" type="center" %}

{% include feature_row id="undergraduate" type="center" %}

{% include feature_row id="undergraduate_list" %}
