---
permalink: /study/
layout: splash
banner: 999999_home_image_banner_textbook.jpg
banner_caption: "Studies"
graduate:
  - image_path: /assets/images/999999_category_image_postech.jpg
    excerpt: "대학원 공부 정리"
graduate_list:
  - image_path: /assets/images/999999_category_research_paper_memo_00.jpg
    alt: "research_paper_memo"
    title: "논문"
    excerpt: "읽은 논문 메모"
    url: "/study/research-paper-memo-00"
undergraduate:
  - image_path: /assets/images/999999_category_image_unist.png
    excerpt: "학부 공부 정리"
undergraduate_list:
  - image_path: /assets/images/999999_category_beer_dynamics_01.jpg
    alt: "dynamics"
    title: "동역학"
    excerpt: "기계공학과 학부 동역학"
    url: "/study/Dynamics-01"
---
{% include feature_row id="graduate" type="center" %}

{% include feature_row id="graduate_list" %}

{% include feature_row id="undergraduate" type="center" %}

{% include feature_row id="undergraduate_list" %}
