---
layout: splash-with-tagged-posts
permalink: /hobbies/tea/
banner: 999999_home_image_banner_blacktea.jpg
banner_caption: "Tea Notes"
tags:
  - Tea Study
  - Green tea
  - Black tea
  - Assam
  - Darjeeling
  - Earl Grey
  - Sejak
  - Sikkim

studies:
  - title: "Studies"

studies_list:
  - image_path: /assets/images/tea_notes/220625_MangalamEstate_Assam_0001.jpg
    title: "Mangalam Tea Estate<br>Assam FTGFOP1"
    excerpt: ""
    url: "/hobbies/tea/mangalam-assam-01"

assam:
  - title: "Assam"

assam_list:
  - image_path: /assets/images/tea_notes/220625_MangalamEstate_Assam_0001.jpg
    title: "Mangalam Tea Estate<br>Assam FTGFOP1"
    excerpt: ""
    url: "/hobbies/tea/mangalam-assam-01"
  - image_path: /assets/images/tea_notes/200116_TaylorsOfHarrogate_PureAssam_0000.jpg
    title: "Taylors of Harrogate<br>Pure Assam"
    excerpt: ""
    url: "/hobbies/tea/toh-assam-02"

darjeeling:
  - title: "Darjeeling"

darjeeling_list:
  - image_path: /assets/images/tea_notes/220718_PhuguriTeaEstate_Darjeeling_0001.jpg
    title: "Phuguri Tea Estate<br>Darjeeling FTGFOP1"
    excerpt: ""
    url: "/hobbies/tea/phuguri-darjeeling-00"
  - image_path: /assets/images/tea_notes/191224_TaylorsOfHarrogate_AfternoonDarjeeling_0000.jpg
    title: "Taylors of Harrogate<br>Afternoon Darjeeling"
    excerpt: ""
    url: "/hobbies/tea/toh-darjeeling-07"

earl_grey:
  - title: "Earl Grey"

earl_grey_list:
  - image_path: /assets/images/tea_notes/220701_twinings_ladygrey_0000.jpg
    title: "Twinings<br>Lady Grey"
    excerpt: ""
    url: "/hobbies/tea/twinings-ladygrey-01"

etc:
  - title: "Et cetera"

etc_list:
  - image_path: /assets/images/tea_notes/220707_TemiEstate_Sikkim_0001.png
    title: "Temi Tea Estate<br>Sikkim"
    excerpt: ""
    url: "/hobbies/tea/temi-sikkim-00"

  - image_path: /assets/images/tea_notes/220708_daheeyeon_Sejak_0001.jpg
    title: "Daheeyeon<br>Sejak"
    excerpt: ""
    url: "/hobbies/tea/daheeyeon-sejak-03"


---
{% include feature_row id="assam" type="center" %}

{% include feature_row id="assam_list" %}

{% include feature_row id="darjeeling" type="center" %}

{% include feature_row id="darjeeling_list" %}

{% include feature_row id="earl_grey" type="center" %}

{% include feature_row id="earl_grey_list" %}

{% include feature_row id="etc" type="center" %}

{% include feature_row id="etc_list" %}
