---
layout: splash
permalink: /tea-notes/
banner: 999999_home_image_banner_blacktea.jpg
banner_caption: "Tea Notes"
assam:
  - title: "Assam"

assam_list:
  - image_path: /assets/images/220625_MangalamEstate_Assam_0001.jpg
    title: "Mangalam Estate<br>Assam FTGFOP1"
    excerpt: ""
    url: "/tea-notes/mangalam-assam-01"
  - image_path: /assets/images/200116_TaylorsOfHarrogate_PureAssam_0000.jpg
    title: "Taylors of Harrogate<br>Pure Assam"
    excerpt: ""
    url: "/tea-notes/toh-assam-00"

darjeeling:
  - title: "Darjeeling"

darjeeling_list:
  - image_path: /assets/images/191224_TaylorsOfHarrogate_AfternoonDarjeeling_0000.jpg
    title: "Taylors of Harrogate<br>Afternoon Darjeeling"
    excerpt: ""
    url: "/tea-notes/toh-darjeeling-07"

earl_grey:
  - title: "Earl Grey"

earl_grey_list:
  - image_path: /assets/images/220701_twinings_ladygrey_0000.jpg
    title: "Twinings<br>Lady Grey"
    excerpt: ""
    url: "/tea-notes/twinings-ladygrey-00"

etc:
  - title: "Et cetera"

etc_list:
  - image_path: /assets/images/220707_TemiEstate_Sikkim_0001.png
    title: "Temi Tea Estate<br>Sikkim"
    excerpt: ""
    url: "/tea-notes/temi-sikkim-00"

  - image_path: /assets/images/220708_daheeyeon_Sejak_0001.jpg
    title: "Daheeyeon<br>Sejak"
    excerpt: ""
    url: "/tea-notes/daheeyeon-sejak-00"


---
{% include feature_row id="assam" type="center" %}

{% include feature_row id="assam_list" %}

{% include feature_row id="darjeeling" type="center" %}

{% include feature_row id="darjeeling_list" %}

{% include feature_row id="earl_grey" type="center" %}

{% include feature_row id="earl_grey_list" %}

{% include feature_row id="etc" type="center" %}

{% include feature_row id="etc_list" %}
