---
layout: splash
permalink: /tea_note/
banner: 999999_home_image_banner_blacktea.jpg
banner_caption: "Tea Notes"
assam:
  - title: "Assam"

assam_list:
  - image_path: /assets/images/200116_TaylorsOfHarrogate_PureAssam_0000.jpg
    title: "Taylors of Harrogate<br>Pure Assam"
    excerpt: ""
    url: "/tea%20note/ToH-Assam-00"

darjeeling:
  - title: "Darjeeling"

darjeeling_list:
  - image_path: /assets/images/191224_TaylorsOfHarrogate_AfternoonDarjeeling_0000.jpg
    title: "Taylors of Harrogate<br>Afternoon Darjeeling"
    excerpt: ""
    url: "/tea%20note/ToH-Darjeeling-07"

---
{% include feature_row id="assam" type="center" %}

{% include feature_row id="assam_list" %}

{% include feature_row id="darjeeling" type="center" %}

{% include feature_row id="darjeeling_list" %}
