---
layout: splash
hidden: true
title: 공부 및 취미 기록
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/999999_home_image_main_00.jpg
  actions:
    - label: "<i class='far fa-file-alt'></i> Curriculum Vitae"
      url: "/CV"
excerpt:
  연구 및 공부 기록<br>
  독서 및 미니어처 취미 기록<br>
  티 노트 기록
feature_row:
  - image_path: /assets/images/999999_category_research_paper_memo_00.jpg
    title: "전공 공부 기록"
    excerpt: "공부한 내용에 관한 기록"
    url: "/studies"
  - image_path: /assets/images/999999_home_image_banner_textbook_600_400.jpg
    title: "취미 I"
    excerpt: "독서 및 차tea 관련 기록"
    url: "/hobbies"
  - image_path: /assets/images/999999_home_image_banner_miniaturePainting_800.jpg
    title: "취미 II"
    excerpt: "미니어처, 게임 및 만화 관련 기록"
    url: "/otaku-hobbies"
---
{% include feature_row %}

<!-- {% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="entries-{{ entries_layout }}">
      {% for post in year.items %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %} -->


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
